body{
	 background: linear-gradient(-90deg, blue, magenta, #42f4a7, purple);
  
}
	
}
.title{
	font-family: 'Permanent Marker', cursive;
	color: black;
	margin: 0% 25% 0 25%;
	font-size: 400%;
	text-align: center;
	background-color: transparent;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.midContainer{
	margin: 5% 20% 10% 25%;
	max-width: 100%
	background-color: white;



}
.instructions{
	font-family: 'Permanent Marker', cursive;
	color: white;
	margin: -20% auto 0% auto;
	height: auto;
	width: 80%;
	float: left;
	font-size: 160%;
	text-align: center;
	background-color: transparent;
	padding-left: 5%;
	padding-right: 5%;
	
}

.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.scoreBox{
	width: 80%;
	text-align: center;
	background-color: transparent;
	padding: 5%;
	margin-left: 6%;

}
#highScore{
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	font-size: 20px;
	text-align: center;
	border: 1px solid black;
	padding-bottom: :6px;
	height: 35px;
	width:40%;
	/*border-radius: 5px;
	box-shadow: 2px 3px #A9A9A9;*/
	margin: 10px;
	position: relative;

}

#highScore:hover{
	top: 2px;
	box-shadow: 2px 2px black;
}
.players{
	color: #2b4a68;
}
.playBox{
	margin: 0% 15% 0 15%;
	background-color: white;
	
}
.submitForm{
	width: 95%;
	float: left;
	text-align: center;
	margin-top: -5%;
	background-color: transparent;
}

.footer{
	margin: 0 15% 0 15%;
	background-color: white;
	border-right: 2px solid black;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
}
#name{
	font-size: 20px;
	text-align: center;
	border: 2px solid black;
	width: 50%;
	border-radius: 10px;
	margin-top: 10%;
	height: 30px;
}
#submitName{
	font-family: 'Permanent Marker', cursive;
	font-size: 20px;
	text-align: center;
	border: 1px solid black;
	padding-bottom: :6px;
	height: 35px;
	width:40%;
	border-radius: 5px;
	box-shadow: 2px 3px #A9A9A9;
	margin: 10px;
	position: relative;
}
#submitName:hover{
	top: 2px;
	box-shadow: 2px 2px black;
}


/*style for play page*/


/*canvas should go here*/
.canvas {
	margin: 5% 20% 100% 20%;
	float: left;
	position: fixed;
	max-width: 100%;
	position: fixed;
	background-color: white;
}

/*style for the players div*/
.players1 {
	font-family: 'Permanent Marker', cursive;
	color: white;
	margin: 0% 80% 0% 2%;
	font-size: 100%;
	text-align: center;
	background-color: transparent;
	}





