body{
	background-image: url("background2.png");

}
.title{
	font-family: 'Permanent Marker', cursive;
	margin: 5% 20% 0 20%;
	font-size: 400%;
	text-align: center;
	background-color: white;
	border: 2px solid black;
}
.midContainer{
	margin: 5% 20% 10% 25%;
	max-width: 100%
	background-color: white;

/*	border-top: 2px solid black;*/
}
.instructions{
	font-family: 'Permanent Marker', cursive;
	margin-left: 25%%;
	width: 80%;
	float: left;
	font-size: 130%;
	text-align: center;
	background-color: white;
	padding-left: 5%;
	padding-right: 5%;
	border: 2px solid black;
}
.scoreBox{
	width: 80%;
	text-align: center;
	background-color: white;
	padding: 5%;
	margin-left: 6%;
/*	border-left: 2px solid black;
	border-bottom: 2px solid black;*/
}
#highScore{
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	font-size: 20px;
	text-align: center;
	border: 1px solid black;
	padding-bottom: :6px;
	height: 35px;
	width:40%;
	border-radius: 5px;
	box-shadow: 2px 3px #A9A9A9;
	margin: 10px;
	position: relative;
	
}

#highScore:hover{
	top: 2px;
	box-shadow: 2px 2px black;
}
.players{
	color: #2b4a68;
}
.playBox{
	margin: 0% 15% 0 15%;
	background-color: white;
	/*border-left: 2px solid black;
	border-right: 2px solid black;*/
}
.submitForm{
	width: 95%;
	float: left;
	text-align: center;
	margin-top: -5%;
	background-color: white;

/*	padding-right: 5%;*/
/*	border-left: 2px solid black;*/



}
.footer{
	margin: 0 15% 0 15%;
	background-color: white;
	border-right: 2px solid black;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
}
#name{
	font-size: 20px;
	text-align: center;
	border: 2px solid black;
	width: 50%;
	border-radius: 10px;
	margin-top: 10%;
	height: 30px;
}
#submitName{
	font-family: 'Permanent Marker', cursive;
	font-size: 20px;
	text-align: center;
	border: 1px solid black;
	padding-bottom: :6px;
	height: 35px;
	width:40%;
	border-radius: 5px;
	box-shadow: 2px 3px #A9A9A9;
	margin: 10px;
	position: relative;
}
#submitName:hover{
	top: 2px;
	box-shadow: 2px 2px black;
}


/*style for play page*/


/*canvas should go here*/
.canvas {
	margin: 5% 20% 100% 20%;
	float: left;
	position: fixed;
	max-width: 100%;
	position: fixed;
	background-color: white;
}

/*style for the players div*/
.players1 {
	font-family: 'Permanent Marker', cursive;
	margin: 0% 80% 0% 2%;
	font-size: 100%;
	text-align: center;
	background-color: white;
	border: 2px solid black;

}



